
/*Typography*/

  h1 {
    font-size: calc(2.5vw + 4vh + 2vmin);
    color: #fff;
    line-height: 150%;
    margin-bottom: .25em;
  }

  body a {
    color: #DBD36E;
    text-decoration: none;
    border-bottom: 1px solid #73C9B3;
  }

  body a:hover {
  color: #ffffff;
}

  ul li{
  margin-bottom: 2em;
}

  header span {
  font-size: 130%;
  line-height: 150%;
}
  html {
  }


  body {
    font-family: "brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    font-size: calc(1vw + 4vh + 2vmin);
    letter-spacing: 0.01em;
    background-color: #201632;
    color: #B4A1D6;
  }


  header, section {
  padding: 20px;
}
