html {
  background-color: #EDEDED;
  background-color: black;
  /*background-image: url("paper.gif");*/
  color: #95a9e9;
}
.hello {
    font-size: 150%;
    line-height: 170%;
}
.darmite {
    position: fixed;
    bottom: 25px;
    right: 5vw;
    width: 12vw;
    z-index: -1;
    /*transition: all 0.4s ease-in;*/
}

.dracula {
    position: fixed;
    bottom: 25px;
    right: 20vw;
    width: 12vw;
    z-index: -1;
    /*transition: all 0.4s ease-in;*/
}


body  {
  font-family: "circular std","brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.01em;
  font-size: 22px;
  padding-bottom: 200px;
}

body a {
    color: #E34648;
    border-bottom: 2px solid black;
    text-decoration: none;
    transition: all 0.3s ease;
}

body a:hover {
    color: #5110CD;
    border-bottom: 2px solid #71CAB4;
}
header {
    position: relative;
    margin-top: 50px;
}
header .name {
    margin-left: -2vw;
    width: 90%;
}

section  {
    margin-top: 75px;
}

section p {
    margin-top: 25px;
}
.wrapper {
    padding: 0 25px;
    display: block;
    margin: 0 auto;
    max-width: 1000px;
}

.links section {
    width: 35vw;
    max-width: 450px;
    float: left;
    /*background-color: blue;*/
}

.interviews a {
    color: #3FBA34;
}

.talks {
    padding-right: 50px;
}
.talks a {
    color: #DC8A55;
}
.links ul {
    line-height: 200%;
    padding-left: 0;
    list-style: disc;
    /*display: block;*/
    color: white;
}

.links ul li {
    margin-bottom: 2em;
    display: block;
}

h2 {
    color: white;
}

@media only screen and (max-width: 1000px) {
    .links section {
        width: 90vw;
        clear: both;
        font-size: 150%;
        line-height: 170%;

    }

    .wrapper {
        margin: 0 auto;
        width: 80vw;
    }

    /*html {background-color: red;}*/
}
