html {
  background-color: black;
  color: white;
  font-family: "colfax-web","Colfax",sans-serif;
  font-weight: 400;
  font-size: 25px;
}

h1 {
  font-weight: 500;
  font-size: 7vw;
  line-height: 150px;
}

#grid {
  transition: all 0.5s;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5vw;
  grid-template-areas:
    "icon heroText heroText heroText"
    /* "heroText heroText heroText heroText" */
    ". . stuff .";
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 5em;
}

.icon img {
  max-width: 250px;
}


.icon {
  grid-area: icon;
  text-align: center;
}
.hero {
  grid-area: heroText;
  line-height: 125%;
}

.hero h1 {
  background: -webkit-linear-gradient(top, #ff3232 36%,#1500ff 72%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 margin-bottom: 0.5vw;

}

.stuff {
  grid-area: stuff;
  /* background-color: red; */
}

@media (max-width: 750px) {

#grid {
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "icon icon"
    "heroText heroText";
  }

.hero {
  text-align: center;
}

h1 {
  font-size: 50px;
}

}
