html {
  background-color: black;
  color: white;
  font-family: "colfax-web","Colfax",sans-serif;
  font-weight: 400;
  font-size: 25px;
}

h1 {
  font-weight: 500;
  font-size: 7vw;
  line-height: 10vw;
}

#grid {
  transition: all 0.5s;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5vw;
  grid-template-areas:
    "icon heroText heroText heroText"
    ". . stuff .";
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 5em;
}

.icon img {
  /* max-width: 250px; */
  width: 100%;
  transition: all 0.2s ease;
}


.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: icon;
  text-align: center;

}
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  grid-area: heroText;
  vertical-align: baseline;
}

.hero p {
  line-height: 125%;
}

.hero h1 {
  background: -webkit-linear-gradient(top, #ff3232 36%,#1500ff 72%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;


}

.stuff {
  grid-area: stuff;
  /* background-color: red; */
}

@media (max-width: 750px) {

#grid {
  grid-template-areas:
    ". icon icon ."
    "heroText heroText heroText heroText";
  }

.hero {
  text-align: center;
}

.icon {
  margin-bottom: 75px;
}

h1 {
  font-size: 50px;
  margin-bottom: 25px;
}

}
